// src/layout/Header/index.scss

// Variables
$font-size-small: 0.9rem;
$font-size-large: 2rem;
$font-weight-bold: 700;
$font-weight-normal: 600;
$color-black: black;
$color-gray: gray;
$bg-color: #f1f1f1;

// Header styles
.header-app-bar {
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-center-toolbar {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  margin-top: 10px;
}

.header-title {
  font-weight: bold;
  letter-spacing: 0,1rem;
  font-size: 2rem;
  text-align: center;
  margin: 2px auto;
  color: black;
}

.header-link {
  position: relative;
  text-decoration: none;
  font-weight: $font-weight-bold;
  color: $color-black;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    height: 2px;
    width: 100%;
    background-color: currentColor; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1); 
  }
}

.header-icon {
  color: $color-gray;
}

.header-search {
  background-color: $bg-color;
  border-radius: 1px;
  padding-left: 2px;
  padding-right: 2px;
  width: 150px;
  font-size: $font-size-small;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav-links {
  display: flex;
  gap: 100px;
}

// Media Queries
@media (max-width: 480px) {
  .header-title {
    font-size: 1rem;
  }

  .header-search {
    width: 120px;
  }

  .header-nav-links {
    flex-direction: column;
    gap: 4px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-title {
    font-size: 1.5rem;
  }

  .header-search {
    width: 140px;
  }
}

@media (min-width: 769px) {
  .header-title {
    font-size: $font-size-large;
  }

  .header-search {
    width: 150px;
  }
}
