
    
.content-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 40px;

  .product-item {
    margin: 10px;
    box-sizing: border-box;
   
    &:nth-child(1),
    &:nth-child(2) {
      width: calc(50% - 20px); // Dòng 1 hiển thị 2 ảnh
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 100%; // Dòng 2 và 3 hiển thị 1 ảnh
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: calc(33.33% - 20px); // Dòng 4 hiển thị 3 ảnh
    }

    &:nth-child(8) {
      width: 100%; // Dòng 5 hiển thị 1 ảnh
    }

    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
      width: calc(33.33% - 20px); // Dòng 6 hiển thị 3 ảnh
    }

    &:nth-child(12) {
      margin-top: 50px;  
      width: 100%; // Dòng 7 hiển thị 1 ảnh
    }

    .product-image {
      width: 100%;
      height: auto;
    }

    .product-overlay {
        // position: absolute; // Đặt nội dung lên trên hình ảnh
        margin: 8px auto; 
        background-color: rgba(255, 255, 255, 0.8); // Nền bán trong suốt
        padding: 5px 10px; // Khoảng đệm cho nội dung
        border-radius: 5px; // Bo góc
        display: flex; // Sử dụng flexbox
        flex-direction: column; // Sắp xếp theo cột
        gap: 5px; // Khoảng cách giữa các phần tử
      
        p {
          margin: 0; // Loại bỏ khoảng cách mặc định
          color: #333; // Màu chữ
          font-size: 1.5rem; // Kích thước chữ
          font-weight: 700; // Chữ đậm
          text-align: left; // Căn trái nội dung
        }
      
        .info-container {
          display: flex; // Sử dụng flexbox cho hàng
          gap: 10px; // Khoảng cách giữa p và a
      
          p {
            margin: 0; // Loại bỏ khoảng cách mặc định
            color: #333; // Màu chữ
            font-size: 1.2rem; // Kích thước chữ
            font-weight: 400; // Chữ bình thường
          }
      
          a {
            color: #333; // Màu chữ
            font-weight: 700; // Chữ đậm
            transition: color 0.3s; // Hiệu ứng chuyển màu
            font-size: 1rem;
            //gạch chân
            text-decoration: underline;
            
            &:hover {
              text-decoration: none;
            transition: all 0.3s ease;
            }
            
          }
        }
      }
      
  }
}
  
  