.container-fluid {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.singnUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 90px 10px 10px 10px;
}
.singnUp-image {
  flex: 1;
  background: url("../../assets/svg/Login.png") no-repeat center center;
  background-size: cover;
  background-size: contain;
  height: 100%;
  box-sizing: border-box;
}

.singnUp-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.singnUp-form {
  margin-right: 20px;
}
.footer-container {
  margin-top: 30px;
}
